.Swiper {
    margin: 20px;
    border: 1px solid #eee;
    border-radius: 25px;
    overflow: hidden;
}

.Swiper .swiperbox {
    width: 100%;
    height: 240px;
}

.Swiper .swiperbox .swiper-img {
    width: 100%;
    height: 240px;
}